/*make all font arial*/

body{
	font-family: arial;
}

/* center text */
.centered{
	text-align: center;
}

/*flexboxes*/
.flex-item {
	flex: 30%;
	padding: 25px;
}

.flex-container {
	display: flex;
}

/* resize the images */
img {
	display: block;
  	width: 100%;
}